<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>


<div class="singlepost content">

            <div class="post">
                <div class=post_header>
                    <div class="user">
                        <div class=icon>
                            <img src=<%= posts.profile_pic_src %> alt="ProfilePic">
                        </div>
                        <div class="name">
                            <%= posts.usr %>
                        </div>
                    </div>
                    <div class="date">
                        <small>
                            <%= posts.date %>
                        </small>
                    </div>
                </div>
                <div class="post_image">
                    <img src=<%=posts.post_pic_src %> alt="PostPic">
                </div>
                <div class="post_text">
                    <%= posts.post_title %>
                </div>
                <div class=thumb>
                    <img src="https://i.ibb.co/S3M17RH/thumbsup-vol4.png" alt="Thumbs up">
                </div>
            </div>
    </div>
<%- include('./partials/footer.ejs') %>

</body>
</html>